.App {
  text-align: center;
}
.head-bar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Adjust the background color as needed */
  z-index: 1000;
  width: 100%;
  padding-top:20px ;
  box-shadow: 2px 3px 5px 3px;
}

.home-container {
  margin-top: 64px; /* Adjust this margin to match the height of your header */
}

.comments-container {
  padding-top: 100px; /* Add some padding to the top of the comments container to prevent content from being hidden under the fixed header */
}

.add-btn-box{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 25%;
  margin: 25px;
}
.comments{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
}
.card-body{
  text-align: justify;
}
.card-action{
  width: 100%;
  display: flex;
  justify-content: space-around;
}